@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1
  }
}
/* Navbar.css */
.container {
  max-width: 1640px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

/* ...Thêm các quy tắc CSS cho các phần khác... */

.pageTitle {
  text-align: center;
  font-size: 2rem;
}

.boldText {
  font-weight: bold;
}

.hiddenFlexContainer {
  display: none;
}

/* ...Thêm các quy tắc CSS cho các phần khác... */

.overlay {
  background-color: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.sideDrawerOpen {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  z-index: 10;
  transition: left 0.3s ease;
}

.sideDrawerClosed {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background-color: white;
  z-index: 10;
  transition: left 0.3s ease;
}

/* ...Thêm các quy tắc CSS cho các phần khác... */
